<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorAdmin</servlet-name>
        <servlet-class>controlador.ControladorAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVereda</servlet-name>
        <servlet-class>controlador.ControladorVereda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVeredas</servlet-name>
        <servlet-class>controlador.ControladorVeredas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorNecesidades</servlet-name>
        <servlet-class>controlador.ControladorNecesidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEstados</servlet-name>
        <servlet-class>controlador.ControladorEstados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuarios</servlet-name>
        <servlet-class>controlador.ControladorUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAdministradores</servlet-name>
        <servlet-class>controlador.ControladorAdministradores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorInstituciones</servlet-name>
        <servlet-class>controlador.ControladorInstituciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDonaciones</servlet-name>
        <servlet-class>controlador.ControladorDonaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTestimonios</servlet-name>
        <servlet-class>controlador.ControladorTestimonios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorAdmin</servlet-name>
        <url-pattern>/ControladorAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVereda</servlet-name>
        <url-pattern>/ControladorVereda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVeredas</servlet-name>
        <url-pattern>/ControladorVeredas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorNecesidades</servlet-name>
        <url-pattern>/ControladorNecesidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEstados</servlet-name>
        <url-pattern>/ControladorEstados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuarios</servlet-name>
        <url-pattern>/ControladorUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAdministradores</servlet-name>
        <url-pattern>/ControladorAdministradores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorInstituciones</servlet-name>
        <url-pattern>/ControladorInstituciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDonaciones</servlet-name>
        <url-pattern>/ControladorDonaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorTestimonios</servlet-name>
        <url-pattern>/ControladorTestimonios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
